.vscode/
build/
tests/
External/
mapdatabackups/
resource/PDF/

src/Authenticate.hpp
floordata/floor1
Notes.txt

*.ini
*.dll
*.exe
*.ini
*.zip

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps